.header{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #3f3f3f;
    border: dashed 0.3rem rgb(218, 218, 218);
    border-radius: 2rem;
    /* width: 100%; */

}
.page-title {
    font-size: 2rem;
    color: rgb(231, 231, 231);
    padding: 1rem;
}
.avatar {
    
    height: 100px;
    width: auto;
}
.blurb {
    font-size: 1rem;
}
@media (min-width: 768px ) {
	.header {
        flex-direction: row;
        align-items: center;
    }
 }

