.review-card {
	border-color: white;
	border-width: 0.2rem;
	border-style: solid;
	border-radius: 3rem;
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
	padding: 1rem;
	background-color:rgb(75, 75, 75);
}

.review-form {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-areas:
	"header header"
	  "body body "
	  "body body "
	  "title-label title"
	  "designer-label designer "
	  "url-label url "
	  "category-lable category"
	  "button button";
}

.review-grid-header {
		grid-area: header;
}
.review-grid-title-input{
	grid-area: title;

}
.review-grid-url-input{
	grid-area: url;

}
.review-grid-designer-input{
	grid-area: designer;

}
.review-grid-body-input{
	grid-area: body;

}

.review-grid-submit-button{
	grid-area: button;
}


.reviews-list {
	/* border-color: white;
	border-width: 4px;
	border-style: solid;
	border-radius: 20px; */
	width: 100%;
}
ul {
	list-style: none;
	padding: 0;
}
.review-card-image {
	min-width: 150px;
	height: auto;
	border-radius: 2rem;
}
.reviews-info{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	
}
.review-title-line{
	display: flex;
}
.review-title{
	font-size: 1.5rem;
	color: rgb(239, 239, 239);
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.delete-review{
	background-color: rgb(159, 34, 34);
	font-size:larger
}
.reviews-info-buttons {
	display: flex;
	justify-content: space-evenly;
}
.sort-area{
	display: flex;
	flex-direction: column;
}
.upvote {
font-size: .7rem;

	background-color: rgb(85, 175, 85);
}
.upvote:hover {
	
	background-color: rgb(13, 128, 13);
}
.downvote {
	font-size: .7rem;

	background-color: rgb(184, 88, 88);
}
.downvote:hover {
	background-color: rgb(163, 44, 44);
}
.delete {
	font-size: .7rem;

	background-color: rgb(197, 165, 51);
}
.delete:hover {
	background-color: rgb(165, 129, 0);
}
.votes{
	font-weight: 800;
	color: rgb(234, 234, 234);
}
.review-card:hover {
	background-color: #393939;
	cursor: pointer;
}
 @media (min-width: 768px ) {

.review-form {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-areas:
	"header header header"
	  "title-label title body"
	  "designer-label designer body"
	  "url-label url body "
	  "category-lable category body"
	  "button button button";
}
	.review-card {
		flex-direction: row;
	}
	.sort-area {
		flex-direction: row;
		justify-content: center;
	}
 }