.review-display {
	display: flex;
	flex-direction: column;
}
.side-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	/* border: solid 5px white;
	border-radius: 10px; */
	padding: 10px;
}
.review-box {
	border: solid .33rem white;
	border-radius: 1rem;
	padding: 10px;
	display: flex;
	flex-direction: column;
}
button {
	padding: 0.3rem;
	padding-left: 0.8rem;
	padding-right: 0.8rem;
	font-weight: 600;
}
button:hover {
	cursor: pointer;
	background-color: rgb(193, 193, 193);
}
.display-img {
	border-radius: 4rem;
	width: 100%;
	margin-top: 1rem;
}
.review-info {
	display: flex;
	justify-content: space-between;
}
.comment-display {
	display: flex;
	flex-direction: column;
	border: solid .33rem rgb(245, 245, 245);
	border-radius: 3rem;
	padding: 10px;
	overflow-y: scroll;
	max-height: 600px;
}
.comment-display-title {
	/* border: solid 5px white;
	border-radius: 10px; */
	padding: 20px;
	position: sticky;
	top: -10px;
}
.comment-form {
	display: flex;
	flex-direction: column;
}
#comment-box{
	border-radius: 1.5rem;
	padding: 1rem;
	margin-bottom: 1rem;
	background-color: rgb(230, 230, 230);
}
.comment-card {
	display: flex;
	flex-direction: column;
	border: solid 0.15rem white;
	border-radius: 2rem;
	padding: 10px;
	background-color:rgb(75, 75, 75);
	margin-bottom: 1rem;

}
.body-and-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.comment-body{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	font-size: 1.3rem;
	color: rgb(240, 240, 240);
	font-weight: 600;
}
.comment-buttons {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.patch-error {
	color: rgb(190, 58, 58);
}
.post-error {
	color: rgb(190, 58, 58);

}
.login-prompt {
	color: rgb(255, 217, 0);
	font-size: 2rem;

}
@media (min-width: 768px ) {
	.review-display {
		flex-direction: row;
	}
	.side-buttons {
		flex-direction: column;
	}
 }
