.review-card {
	border-color: white;
	border-width: 4px;
	border-style: solid;
	border-radius: 20px;
}
.reviews-list {
	border-color: white;
	border-width: 4px;
	border-style: solid;
	border-radius: 20px;
}
ul {
	list-style: none;
	padding: 0;
}
